@model PainTrackerPT.Models.Medicine.MedicineLog

@{
    ViewData["Title"] = "ShowLog";
}

<h1>ShowLog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        It works!!! This is the Show Log view!
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th*@>
            @*<th>
                @Html.DisplayNameFor(model => model.timeStamp)
            </*@th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => @Model.Description)
        </td*@>
        @*<td>
            @Html.DisplayFor(modelItem => @Model.timeStamp)
        </t*@d>
        <td>
            @*<a asp-action="ShowLog" asp-route-id="@item.timeStamp">Show Log</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
        </td>
    </tr>

</tbody>
</table>
