@model IEnumerable<PainTrackerPT.Models.Medicine.MedicineEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicine Schedules for @ViewBag.ID</h1>

<p>    
    @Html.ActionLink("Create", "Create", new { medID = ViewBag.ID })
</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Dosage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>                 
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dosage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </td>                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", "MedicineIntakeEvent", new { id = @item.EventId, medID = ViewBag.ID }) |
                            <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                            @Html.ActionLink("Delete", "Delete", "MedicineIntakeEvent", new { id = @item.EventId, medID = ViewBag.ID })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


