@model IEnumerable<PainTrackerPT.Models.Followups.FollowUp>

@{
    ViewData["Title"] = "FilteredIndex";
}

<div class="container" style="margin:10px;">
    <h1>
        @if (ViewBag.id == 0)
        {
            <text>Samuel Toh</text>
        }
        else if (ViewBag.id == 1)
        {
            <text>Nicholas Toh </text>
        }
        else if (ViewBag.id == 2)
        {
            <text>Cheryl Toh</text>
        }
        else if (ViewBag.id == 3)
        {
            <text>Toh Yan Tian</text>
        }
        else if (ViewBag.id == 4)
        {
            <text>Toh Hong Mao</text>
        }'s Follow Ups
    </h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                <text>Patient</text>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateGenerated)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.PatientId == 0)
                    {
                        <text>Samuel Toh</text>
                    }
                    else if (item.PatientId == 1)
                    {
                        <text>Nicholas Toh </text>
                    }
                    else if (item.PatientId == 2)
                    {
                        <text>Cheryl Toh</text>
                    }
                    else if (item.PatientId == 3)
                    {
                        <text>Toh Yan Tian</text>
                    }
                    else if (item.PatientId == 4)
                    {
                        <text>Toh Hong Mao</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateGenerated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
