@model IEnumerable<PainTrackerPT.Models.Doctors.Appointment>

@{
    ViewData["Title"] = "DoctorAppointment_Index";
}

<h1>DoctorAppointment_Index</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pdAttach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.miAttach)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.pdAttach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miAttach)
            </td>

            <td>
                <a asp-action="DoctorAppointment_Edit" asp-route-id="@item.AppointmentId">View</a> |
                @*<a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
