@model IEnumerable<PainTrackerPT.Models.Doctors.Patient>

@{
    ViewData["Title"] = "PatientAccount_Index";
}

<h1>PatientAccount_Index</h1>

<p>
    <a asp-action="PatientAccount_Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdd)
            </td>
            <td>
                <a asp-action="PatientAccount_Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="PatientAccount_Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="PatientAccount_Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
