@model PainTrackerPT.Models.PainDiary.Entry



@{
    ViewData["Title"] = "View";
}
<style>
    #PDwrapper {
        padding: 25px;
    }
</style>


<div id="PDwrapper">
    <div class="row">
        <div class="col-md-12">
            <h1> @Html.DisplayFor(model => model.entryTitle) Pain Diary Details<small class="text-muted">&emsp;Date created:   @Html.DisplayFor(model => model.entryTime) </small></h1>
        </div>

    </div>

    <div>

        <hr />

        <div class="row mb-4">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/300?text=Diagram%20of%20Body%20Parts" class="img-fluid" alt="Responsive image" />
            </div>
            <div class="col-md-8">
                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th>Pain Area</th>
                            <th>Intensity</th>
                            <th>Time Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.painArea)</td>
                            <td class="text-warning">@Html.DisplayFor(model => model.painIntensity)/ 10</td>
                            <td>@Html.DisplayFor(model => model.painTime)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- end row -->
        <div class="note-content">
            <h4>Log Notes <button style="margin-left:70%" class="btn" onclick='window.location.href = "@Url.Action("Create", "PainLog" , new { id = @ViewBag.id })"'><i class="flaticon-edit-1 fa-2x"></i><br /></button></h4>
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>Type</th>
                        <th>Written Notes</th>
                        <th>Audio Notes</th>
                        <th>Mood</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (PainTrackerPT.Models.PainDiary.Log log in ViewBag.logs)
                    {
                        if (Model.entryID == log.entryId)
                        {
                            <tr>
                                
                                <td>@log.logTime</td>
                                <td>@log.writtenNotes</td>
                                <td>@log.audioNotes</td>
                                <td>@log.mood</td>
                                <td>
                                   <a href="@Url.Action("Delete", "PainLog", new { id = @log.logID })">Delete</a>
                                    
                                </td>


                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    
</div>

